a,
button,
input,
select,
h1,
h2,
h3,
h4,
h5,
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    background: none;
    -webkit-font-smoothing: antialiased;
}

menu,
ol,
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* index */
.splash,
.splash * {
  box-sizing: border-box;
}

.splash {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--color-background);
}

.frame-2018776034 {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  background-color: var(--color-backgroundte);
  border-radius: var(--border-radius);
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
  padding: 40px;
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}

.health-mate-1,
.health-mate-2 {
  max-width: 200px;
}

.slideshow-container {
    display: flex;
    max-width: 800px;
    position: center;
    margin: auto;
}

@media (max-width: 768px) {
  .frame-2018776034 {
    flex-direction: column;
    padding: 20px;
  }

  .health-mate-1,
  .health-mate-2 {
    max-width: 150px;
  }
}

/* @media (max-width: 480px) {
  .frame-2018776034 {
    flex-direction: column;
    padding: 10px;
  }

  .health-mate-1,
  .health-mate-2 {
    max-width: 100px;
  }
} */

@keyframes fadeIn {
  0% {
    opacity: 0;
    /* transform: scale(0.5); */
  }
  /* 50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  } */
  100% {
    opacity: 1;
  }
}

/* onboarding */

.onboarding-2 {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    /* display: flex; */
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.frame-10305,
.frame-2018776035 {
    margin-bottom: 20px;
    width: 100%;
}

.frame-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.frame-1171275334,
.frame-1171275336 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.ellipse-1787,
.ellipse-1788,
.ellipse-1789 {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #ccc;
    margin: 0 5px;
}

.healthcare-medicine-database-2 {
    display: none;
}

.group-2018776028 {
    max-width: 100%;
    height: auto;
    margin-left: 100px;
}

.group-2018776029 {
    max-width: 100%;
    height: auto;
    margin-right: 100px;
}

@media (max-width: 767px) {
    .onboarding-2 {
        padding: 10px;
    }
}

/* home */
.home,
.home * {
    box-sizing: border-box;
}

.home {
    background: #fafbfc;
    height: 852px;
    position: relative;
    overflow: hidden;
}

.frame-2018776049 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
    left: 10px;
    right: 10px;
    top: 330px;
}

.frame-2018776047 {
    display: flex;
    flex-direction: column;
    gap: 31px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
}

.div {
    color: #1e1e1e;
    text-align: center;
    font-family: "PretendardVariable-Medium", sans-serif;
    font-size: 24px;
    line-height: 36px;
    letter-spacing: -1px;
    font-weight: 500;
    position: relative;
    width: 289px;
}

.frame-63 {
    background: #ffffff;
    border-radius: 24px;
    border-style: solid;
    border-color: var(--, #01a4fc);
    border-width: 1.5px;
    padding: 7px 10px 7px 8px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 49px;
    width: 50%;
    min-width: fit-content;
    position: relative;
}

.frame-61 {
    display: flex;
    flex-direction: row;
    gap: 2px;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    flex-shrink: 0;
    height: 32px;
    position: relative;
}

.frame-1171275337 {
    display: flex;
    flex-direction: row;
    gap: 0px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 32px;
    position: relative;
}

.div2 {
    color: var(--, #01a4fc);
    text-align: center;
    font-family: "PretendardVariable-Bold", sans-serif;
    font-size: 20px;
    line-height: 32px;
    font-weight: 700;
    position: relative;
    width: 274px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.vector {
    flex-shrink: 0;
    width: 16.11px;
    height: 16.21px;
    position: relative;
    overflow: visible;
}