<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="../static/style.css" />
    <title>onboarding1</title>
    <script>
        setTimeout(function() {
            window.location='3';
        }, 7000);
    </script>
</head>
<body>
    <!-- <h1>Onboarding1</h1> 
    <img src='../static/imgs/Onboarding1.svg' alt='Onboarding1' class="responsive-svg">
    <a href="3.html"> <!-- 링크 추가 -->  
    <!--    <svg class="responsive-svg" xmlns="http://www.w3.org/2000/svg">  
            <rect x="292.5" y="704.5" width="42" height="42" rx="21" fill="#01A4FC"/>  
        </svg>  
    </a> -->
    <!-- SVG를 HTML에 직접 포함 -->
    <svg class="responsive-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 393 852">  
        <!-- SVG 이미지 -->  
        <image href="../static/imgs/Onboarding1.svg?v=1" width="393" height="852" />  
    
        <!-- 링크 추가 -->  
        <a href="3">
            <rect x="297.5" y="704.5" width="42" height="42" rx="21" fill="transparent"/>
            <path d="M317.647 733.913L325.957 725.5M325.957 725.5L317.647 717.087M325.957 725.5H311" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </a>
        <!-- <a href="3.html">
            <rect x="292.5" y="704.5" width="42" height="42" rx="21" fill="#01A4FC" stroke="#01A4FC"/>  
        </a>   -->  
    </svg>
</body>
</html>