<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="../static/style.css" />
    <title>Onboarding2</title>
    <script>
        setTimeout(function() {
            window.location='4';
        }, 7000);
    </script>
</head>
<body>
    <svg class="responsive-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 812">  
        <!-- SVG 이미지 -->  
        <image href="../static/imgs/Onboarding2.svg" width="375" height="812" />  
    
        <!-- 링크 추가 -->  
        <a href="2">
            <rect x="41.5" y="704.5" width="42" height="42" rx="21" fill="transparent"/>
            <path d="M63.3092 717.087L55 725.5M55 725.5L63.3092 733.913M55 725.5H69.9565" stroke="#01A4FC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </a>
        <a href="4">
            <rect x="292.5" y="704.5" width="42" height="42" rx="21" fill="transparent"/>
            <path d="M312.647 733.913L320.957 725.5M320.957 725.5L312.647 717.087M320.957 725.5H306" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </a>
    </svg>
</body>
</html>