<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="../static/style.css" />
    <title>Onboarding2</title>
    <script>
        setTimeout(function() {
            window.location='4';
        }, 7000);
    </script>
</head>
<body>
    <svg class="responsive-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 393 852">  
        <!-- SVG 이미지 -->  
        <image href="../static/imgs/Onboarding2.svg?v=1" width="393" height="852" />  
    
        <!-- 링크 추가 -->  
        <a href="2">
            <rect x="41.5" y="704.5" width="42" height="42" rx="21" fill="transparent"/>
            <path d="M69.3092 717.087L61 725.5M61 725.5L69.3092 733.913M61 725.5H75.9565" stroke="#01A4FC" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </a>
        <a href="4">
            <rect x="298.5" y="704.5" width="42" height="42" rx="21" fill="transparent"/>
            <path d="M318.647 733.913L326.957 725.5M326.957 725.5L318.647 717.087M326.957 725.5H312" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </a>
    </svg>
</body>
</html>