<html>
  <head>
    <title>Health Mate</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0.8, maximum-scale=1.0, user-scalable=0"
    />
    <link rel="stylesheet" href="/static/chatstyle.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="/static/chatscript.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="app-title">
        <h1>Health Mate</h1>
        <div class="loading-indicator">
          <img class="vector-1" src="/static/imgs/vector0.svg" />
        </div>
      </div>
      <div class="chat-container">
        <div class="chat-window">
          <div class="chat-messages"></div>
        </div>
        <div class="chat-input">
          <input
            type="text"
            id="chat-input"
            placeholder="궁금한 점을 입력하세요..."
          />
          <button id="send-button">Send</button>
        </div>
      </div>
    </div>
  </body>
</html>
