<html>
  <head>
    <title>Health Mate</title>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=0.8, maximum-scale=1.0, user-scalable=0"
    />
    <link rel="stylesheet" href="/static/chatstyle.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="/static/chatscript.js"></script>
    <link rel="stylesheet" href="../static/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="app-title">
        <img src="../static/imgs/logo.svg" height="40">
        <div class="loading-indicator">
          <img class="vector-1" src="/static/imgs/vector0.svg" />
        </div>
      </div>
      <div class="chat-container">
        <div class="chat-window">
          <div class="chat-messages">
            <img src="../static/imgs/chat_bg.svg" alt="example">
          </div>
        </div>
        <div class="input-container">
            <img src="../static/imgs/search.svg" alt="Search Icon">
            <input type="text" id="chat-input" placeholder="한 단어만 입력해도 편하게 알려드려요.">
            <img id="send-button" src="../static/imgs/upload.svg" alt="Send Button" />
        </div>
      </div>
    </div>
  </body>
</html>
