<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/vars.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <script src="/static/script.js"></script>

    <title>Document</title>
  </head>
  <body>
    <div class="home">
      <div class="frame-2018776049">
        <div class="frame-2018776047">
          <div class="div">
            만성질환 궁금증, 헬스메이트와 함께 쉽게 알아보세요
          </div>
        </div>
        <div class="frame-63">
          <div class="frame-61">
            <div class="frame-1171275337">
              <div class="div2">질문 시작하기</div>
              <img class="vector" src="/static/imgs/vector0.svg" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      window.addEventListener("DOMContentLoaded", () => {
        addStartButtonListener();
        console.log("listener added!");
      });
    </script>
  </body>
</html>
