<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>HealthMate Main</title>
  </head>
  <body>
    <svg
      class="responsive-svg"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 393 852"
    >
      <image href="../static/imgs/home.svg" width="393" height="852" />
      <rect
        x="30.75"
        y="426.75"
        width="336.5"
        height="47.5"
        rx="23.25"
        fill="transparent"
        id="question1"
        class="question-button"
        data-question="가정에서 혈압 측정은 하루 몇 번, 어떤 방식으로 해야 하나요?"
      />
      <rect
        x="30.5"
        y="499.5"
        width="337"
        height="48"
        rx="23.5"
        fill="transparent"
        id="question2"
        class="question-button"
        data-question="식후 2시간 혈당은 몇까지가 정상범위인가요?"
      />
      <rect
        x="30.5"
        y="572.5"
        width="337"
        height="48"
        rx="23.5"
        fill="transparent"
        id="question3"
        class="question-button"
        data-question="콜레스테롤 수치를 낮추기 위해 반드시 피해야 할 음식은 무엇인가요?"
      />
      <rect
        x="30.5"
        y="645.5"
        width="337"
        height="48"
        rx="23.5"
        fill="transparent"
        id="question4"
        class="question-button"
        data-question="천식 발작이 올 때 응급 대처법을 단계별로 알려주세요"
      />
      <rect
        x="30.5"
        y="718.5"
        width="337"
        height="48"
        rx="23.5"
        fill="transparent"
        id="question5"
        class="question-button"
        data-question="산소포화도는 몇 이하일 때 병원을 방문해야 하나요?"
      />
    </svg>

    <script>
      document.querySelectorAll(".question-button").forEach((button) => {
        button.addEventListener("click", function () {
          const question = this.getAttribute("data-question");
          navigateToPageWithParameter(question);
        });
      });

      function navigateToPageWithParameter(parameterValue) {
        var nextUrl = "chatui";
        var newUrl =
          nextUrl + "?" + "search" + "=" + encodeURIComponent(parameterValue);
        window.location.href = newUrl;
      }
    </script>
  </body>
</html>
