<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <link rel="stylesheet" href="../static/style.css" />
    <title>Onboarding2</title>
    <script>
        setTimeout(function() {
            window.location='{{ url_for('chatui') }}';
        }, 7000);
    </script>
</head>
<body>
    <svg class="responsive-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 375 812">
        <style>
            .blinking {
                animation: blink 1s step-start infinite;
            }
    
            @keyframes blink {
                50% {
                    opacity: 0;
                }
            }
        </style>
    
        <!-- SVG 이미지 -->
        <image href="../static/imgs/home.svg" width="375" height="812" />
    
        <!-- 링크 추가 -->
        <a xlink:href="{{ url_for('chatui') }}">
            <rect x="20.75" y="196.75" width="333.5" height="47.5" rx="23.25" fill="transparent"/>
            <path d="M52.7133 222.04C53.9129 220.863 54.6548 219.238 54.6548 217.443C54.6548 213.854 51.687 210.943 48.0261 210.943C44.3651 210.943 41.3973 213.854 41.3973 217.443C41.3973 221.033 44.3651 223.943 48.0261 223.943C49.8565 223.943 51.5137 223.216 52.7133 222.04ZM52.7133 222.04L57.6027 227.057" 
                  stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none" class="blinking"/>
        </a>
    </svg>
</body>
</html>