<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./static/vars.css" />
    <link rel="stylesheet" href="./static/style.css" />
    <title>Main</title>
  </head>
  <body>
    <div class="splash">
      <div class="frame-2018776034">
        <img class="health-mate-1" src="/static/imgs/health-mate-10.svg" />
        <img class="health-mate-2" src="/static/imgs/health-mate-20.svg" />
      </div>
    </div>
    <script>
      window.addEventListener("DOMContentLoaded", () => {
        const logoContainer = document.querySelector(".frame-2018776034");

        // Wait for the animations to finish
        setTimeout(() => {
          // Redirect to another page or perform any other desired action
          window.location.href = "onboarding";
        }, 5000);
      });
    </script>
  </body>
</html>
