<html>
  <head>
    <title>Health Mate</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="slideshow-container">
      <!-- 슬라이드 -->
      <div class="mySlides">
        <img src="/static/imgs/lion.avif?text=Slide+1" style="width: 100%" />
      </div>
      <div class="mySlides">
        <img src="/static/imgs/tiger.avif?text=Slide+2" style="width: 100%" />
      </div>
      <div class="mySlides">
        <img src="/static/imgs/whale.webp?text=Slide+3" style="width: 100%" />
      </div>
      <!-- 버튼 -->
      <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
      <a class="next" onclick="plusSlides(1)">&#10095;</a>
      <script src="/static/script.js"></script>
    </div>
  </body>
</html>
