<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/vars.css" />
    <link rel="stylesheet" href="/static/style.css" />
    <script src="/static/script.js"></script>

    <title>Document</title>
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f0f0f0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 95vh;
      }
    </style>
  </head>
  <body>
    <div class="onboarding-2">
      <div class="frame-10305">
        <div class="healthcare-medicine-database-2">
          <img class="group" src="/static/imgs/Frame-10305.svg?text=Slide+1" />
        </div>
        <div class="healthcare-medicine-database-2">
          <img
            class="group"
            src="/static/imgs/Frame-10305-1.svg?text=Slide+2"
          />
        </div>
        <div class="healthcare-medicine-database-2">
          <img
            class="group"
            src="/static/imgs/Frame-10305-2.svg?text=Slide+3"
          />
        </div>
      </div>
      <div class="frame-2018776035">
        <div class="frame-1171275334">
          <img
            class="group-2018776028"
            src="/static/imgs/group-20187760280.svg"
          />
          <div class="frame-1171275336">
            <div class="ellipse-1787"></div>
            <div class="ellipse-1787"></div>
            <div class="ellipse-1787"></div>
          </div>
          <img
            class="group-2018776029"
            src="/static/imgs/group-20187760290.svg"
          />
        </div>
      </div>
    </div>
    <!--script src="/static/script.js"><!-->
    <script>
      window.addEventListener("load", () => {
        showSlides(1);
        addButtonListener();
      });
    </script>
  </body>
</html>
